*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
header {
    background-color:blue;
    color: white;
    padding: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

